@import  "reset";

html,body, .page{
  font-family: sans-serif;
  // height: 100%;
  // overflow-y: scroll;

}
html {
  background: url(imgs/login_back_ground@2x.jpg) center no-repeat;
  background-size: cover;

}
body {

}
.active--index{
  .page{
    &--index{
      opacity: 1;
    }
  }

}

.page{
  display: none;
  min-height: 100%;
  padding-bottom: 42px;
  &--show{
    animation: fadeIn 0.5s;
    animation-fill-mode: both;
    display: block;
  }
  &--index{

    background-size: cover;
  }
}

.title{
  &--main{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 75px;
  }
  &--sub{
    text-align: center;
  }
}

.img{
  &--topLogo{
    margin-top: 25px;
  }
}
.text{
  &--top{
    font-size: 17px;
    text-align: center;
    line-height: (48/34);
    color: #fff;
    margin-top: 48px;
  }
  &--alreadyLogin{
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    &__wrap{
      text-align: center;
    }

  }
}

.btn {
  -webkit-appearance: none;
  background: url(imgs/login_sign_up@2x.png) no-repeat center;
  background-size: 100%;
  width: 320px;
  height: 60px;
  color: #fff;
  display: block;
  text-align: center;
  border: none;
  margin: 56px auto 18px;
  text-indent: -9999px;
  font-size: 14px;
}

.result {
  width: 100%;
}
.profile {
  width: 50%;
  float: left;
  &__img {
    width: 100%;
  }
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
