@import  "reset";

.clearfix {
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.fadeOut {
  animation: fadeOut .5s linear;
  animation-fill-mode: both;
}

html,body, .page{
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  min-height: 100%;
  // height: 100%;
  // overflow-y: scroll;

}
html, body  {
  height: 100%;
}
.active--index{
  .page{
    &--index{
      opacity: 1;
    }
  }

}

.page{
  display: none;
  min-height: 100%;
  &--show{
    animation: fadeIn 0.7s;
    animation-fill-mode: both;
    display: block;
  }
  &--index{
    background: url(imgs/login_back_ground@2x.jpg) center no-repeat;
    background-size: cover;
    padding-bottom: 42px;
  }
  &--result{
    background-color: #ececec;
    padding-bottom: 60px;
  }
}

.title{
  &--main{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 75px;
    margin-bottom: 25px;
    &--thin{
      background-color: #c2185b;
      text-align: center;
      height: auto;
      margin-bottom: 20px;
      img{
        display: block;
        padding: 12px 0;
        margin: 0 auto;
      }
    }
  }
  &--sub{
    text-align: center;
    line-height: 1;
    font-size: 24px;
    margin-bottom: 9px;
  }
}

.img{
  &--topLogo{
    background: url("imgs/login_pulse.png") repeat-x 0 0;
    background-size: 100% auto;
    line-height: 0;
    &:before {
      content:"";
      display: block;
      padding-top:32%;
    }
    &.loading{
      animation: bgScroll 40s linear infinite;
    }
    &__heart{
      position: absolute;
      left: 50%;
      margin-left: -18%;
      top: 10px;
      width: 36%;
      &.loading{
        // filter: brightness(110%);
        animation: heartBeat 1s ease infinite;
      }
    }
    &__wrap{
      position: relative;

    }
  }
}

.text{
  &--top{
    font-size: 17px;
    text-align: center;
    line-height: (48/34);
    color: #fff;
    margin-top: 48px;
  }
  &--alreadyLogin{
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    &__wrap{
      text-align: center;
    }
  }
  &--result {
    margin-bottom: 27px;
    text-align: center;
    color: #727272;
    font-size: 12px;
    line-height: 1;
  }
}

.btn {
  -webkit-appearance: none;
  background: url(imgs/login_sign_up@2x.png) no-repeat center;
  background-size: 100%;
  width: 320px;
  height: 60px;
  color: #fff;
  display: block;
  text-align: center;
  border: none;
  margin: 56px auto 18px;
  text-indent: -9999px;
  font-size: 14px;
}

#result {
  width: 100%;
  @extend .clearfix;

}

.profile {
  width: 50%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  &:nth-of-type(2n-1) {
    padding: 0 6px 10px 16px;
  }
  &:nth-of-type(2n) {
    padding: 0 16px 10px 6px;
  }
  &__img {
    width: 100%;
    margin-bottom: 6px;
    line-height: 1;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
  }
  &__inner {
    box-sizing: border-box;
    border: 1px solid #f8bbd0;
    background-color: #fff;
    box-shadow:rgba(5, 5, 5, 0.3) 0px 0px 2px 1px;
    position: relative;
    padding: 2px;
  }
  &__name {
    text-align: center;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 6px;
  }
  &__job {
    text-align: center;
    font-size: 10px;
    color: #727272;
    line-height: 1;
    padding-bottom: 7px;
  }
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #999;
  // height: 40px;
  width: 100%;
  a{
    display: block;
    text-align: center;
    width: 50%;
    height: auto;
    padding: 15px 0;
    float: left;
    color: #ffffff;
    background-color: #e91e63;
    &:first-of-type {
      text-indent: -3px;
      &:before{
        display: inline-block;
        content: "";
        width: 22px;
        height: 22px;
        background: url("imgs/recommend_tabbar_todaysmatch@2x.png") no-repeat center;
        background-size: auto 100%;
        vertical-align: -5px;
        padding-right: 5px;
      }
      &.on:before{
        background-image: url("imgs/recommend_tabbar_todaysmatch_on@2x.png");
      }
    }
    &:last-of-type {
      text-indent: -5px;
      &:before {
        display: inline-block;
        content: "";
        width: 22px;
        height: 22px;
        background: url("imgs/recommend_tabbar_mylist@2x.png") no-repeat center;
        background-size: auto 100%;
        vertical-align: -5px;
        padding-right: 7px;
      }
      &.on:before{
        background-image: url("imgs/recommend_tabbar_mylist_on@2x.png");
      }
    }
    &.on{
      background-color: #f3f3f3;
      color: #c2185b;
    }
  }
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bgScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 10000px 0;
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
