batch:
  build: .
  command: python src/batch.py
  dockerfile: batch.Dockerfile
  working_dir: /var/www
  volumes:
    - .:/var/www
  links:
    - redis-recommend
    - redis-user

web:
  build: .
  command: python src/web.py
  dockerfile: web.Dockerfile
  working_dir: /var/www
  volumes:
    - .:/var/www
  links:
    - redis-recommend
    - redis-user
  ports:
    - "80:8080"

redis-recommend:
  image: redis

redis-user:
  image: redis
